<style>
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
</style>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://github.com/mranaljadhav"><i class="fa fa-github"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="mailto:mranaljadhav@gmail.com"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>	
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
      <p><h3 style="font-family: Georgia, serif;">Harvest</h3></p>
      <p class="text-center">Copyright @2021 | Designed With by projectbiz<a href="#"></a></p>
    </div>
    <hr>
  </div>	
</section>

